<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>Piedmont</title>
    <link rel="shortcut icon" href="/public/assets/favicon.ico">
    <link rel="stylesheet" href="/bower_components/semantic-ui/dist/semantic.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <script src="/node_modules/socket.io-client/socket.io.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/semantic-ui/dist/semantic.js"></script>
    <script src="/bower_components/d3/d3.js"></script>
    <script src="/bower_components/lodash/lodash.js"></script>
    <script src="/bower_components/q/q.js"></script>
    <script src="/bower_components/FileSaver.js/FileSaver.js"></script>
    <script src="/bower_components/numericjs/src/numeric.js"></script>
    <script src="/bower_components/mousetrap/mousetrap.js"></script>
    <script src="/bower_components/paper/dist/paper-full.js"></script>
    <script src="/bower_components/greiner-hormann/dist/greiner-hormann.js"></script>
    <script src="/bower_components/delaunay-fast/delaunay.js"></script>
    <script src="/bower_components/poly2tri/dist/poly2tri.js"></script>
    <script src="/bower_components/graph.js/build/graph.js"></script>
    <script src="/bower_components/kruskal/kruskal.js"></script>

    <script src="/bower_components/three.js/build/three.js"></script>
    <script src="/bower_components/three.js/examples/js/controls/OrbitControls.js"></script>
    <script src="/bower_components/three.js/examples/js/controls/TransformControls.js"></script>
    <script src="/bower_components/three.js/examples/js/renderers/Projector.js"></script>
    <script src="/bower_components/three.js/examples/js/controls/DragControls.js"></script>
    <script src="/bower_components/three.js/examples/js/libs/stats.min.js"></script>
    <script src="/bower_components/three.js/examples/js/loaders/STLLoader.js"></script>
    <script src="/bower_components/three.js/examples/js/loaders/BinaryLoader.js"></script>
    <script src="/bower_components/three.js/examples/js/loaders/OBJLoader.js"></script>
    <script src="/bower_components/three.js/examples/js/exporters/STLExporter.js"></script>

    <script src="/public/js/modules/laplacian.js"></script>
    <script src="/public/js/modules/edges.js"></script>
    <script src="/public/js/modules/angle.js"></script>
    <script src="/public/js/modules/stljs.js"></script>
    <script src="/public/js/modules/svg-mesh.js"></script>
    <script src="/public/js/modules/build.js"></script>

  </head>
  <body>
    {% block main %}{% endblock %}
  </body>

</html>


