html, body {
  height: 100%;
}

#original {
  position: absolute;
  width: 256px;
  height: 256px;
  // display: none;
  top: 120px;
  left: 20px;
  // width: 100%;
  // height: 100%;
  // width: 128px;
  // height: 128px;
  background: rgba(210, 210, 210, 0.2);
}


#drawing {
  position: absolute;
  width: 256px;
  height: 256px;
  // display: none;
  top: 400px;
  left: 20px;
  background: rgba(210, 210, 210, 0.2);
  // width: 100%;
  // height: 100%;
  // width: 128px;
  // height: 128px;
  // background: #fff;
}

.top-left-buttons {
  position: absolute;
  top:10px;
  left:10px;
}

.top-right-buttons {
  position:absolute;
  top:10px;
  right:10px;
}

.bottom-right-buttons {
  position:absolute;
  bottom:10px;
  right:10px;
}

.bottom-left-buttons {
  position:absolute;
  bottom:10px;
  left:10px;
}



.ui.grid {
  height: 100%;
}

.ui.column {
  height: 100%;
}

pre {
  height: 100%;
  overflow: scroll;
}

#editor {
  height: 500px;
}

