html, body {
  height: 100%;
}

#drawing {
  position: absolute;
  top: 0px;
  left: 0px;
  // width: 128px;
  // height: 128px;
  // background: #fff;
}

.top-buttons {
  position:absolute;
  top:10px;
  left:10px;
}

.bottom-buttons {
  position:absolute;
  bottom:10px;
  right:10px;
}


.ui.grid {
  height: 100%;
}

.ui.column {
  height: 100%;
}

pre {
  height: 100%;
  overflow: scroll;
}

#editor {
  height: 500px;
}